* {
    box-sizing: border-box;
}
#h1-a{
    background-color: pink;
    color:white;
}
body{
    background-color: darkgrey;
}
.p1{
    color:yellow;
}
.p2{
    color:greenyellow;
}
.p3{
    color:aquamarine;
}
.border1{
    padding-bottom: 50px;
    background-color: white;
    border :5px solid orange;
    height: 150px;
}
p{
    color: white;
    display: block;
}